 <!--================Footer Area =================-->
 <footer class="footr_area">
    <div class="footer_widget_area">
        <div class="container">
            <div class="row footer_widget_inner">
                <div class="col-lg-5 col-sm-4 offset-lg-4">
                    <aside class="f_widget f_insta_widget">
                        <div class="f_title">
                            <h3><a href="https://www.instagram.com/samibeauty__/" target="_blank" rel="noopener noreferrer">Instagram @samibeauty__</a></h3>
                        </div>
                        <ul>
                            <li><a href="https://www.instagram.com/p/CWMQtDsLV5S/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank"><img src="/img/instagram/ins-1.jpg" alt=""></a></li>
                            <li><a href="https://www.instagram.com/p/CWMQtDsLV5S/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank"><img src="/img/instagram/ins-2.jpg" alt=""></a></li>
                            <li><a href="https://www.instagram.com/p/CWMQtDsLV5S/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank"><img src="/img/instagram/ins-3.jpg" alt=""></a></li>
                            <li><a href="https://www.instagram.com/p/CsZzo-grGps/" target="_blank"><img src="/img/instagram/ins-4.jpg" alt=""></a></li>
                            <li><a href="https://www.instagram.com/p/CWMQtDsLV5S/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank"><img src="/img/instagram/ins-1.jpg" alt=""></a></li>
                            <li><a href="https://www.instagram.com/p/CWMQtDsLV5S/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank"><img src="/img/instagram/ins-2.jpg" alt=""></a></li>
                            <li><a href="https://www.instagram.com/p/CWMQtDsLV5S/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank"><img src="/img/instagram/ins-1.jpg" alt=""></a></li>
                            <li><a href="https://www.instagram.com/p/CWMQtDsLV5S/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==" target="_blank"><img src="/img/instagram/ins-2.jpg" alt=""></a></li>
                        </ul>
                    </aside>
                </div>
               
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <div class="container">
            <div class="float-sm-left">
                <h5> <a href="https://www.instagram.com/samibeauty__/" target="_blank">SAMI BEAUTY</a> | <a href="https://www.instagram.com/samibeauty__/" target="_blank"><i class="fa fa-instagram"></i> </a></h5>
            </div>
            <div class="float-sm-right">
                <ul>
                    <li><a href="https://www.linkedin.com/in/brian-axcel-g%C3%B3mez-rangel-724716157/" target="_blank">Developed by Brian Gómez. All rights reserved. © <script>document.write(new Date().getFullYear());</script></a></li>
                </ul>
            </div>
        </div> 
    </div>
</footer>
<!--================End Footer Area =================-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Rev slider js -->
<script src="/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<!-- Extra plugin css -->
<script src="/vendors/counterup/jquery.waypoints.min.js"></script>
<script src="/vendors/counterup/jquery.counterup.min.js"></script> 
<script src="/vendors/counterup/apear.js"></script>
<script src="/vendors/counterup/countto.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
<script src="/js/smoothscroll.js"></script>

<script src="/js/theme.js"></script>