<!--================We Are Company Area =================-->
<section class="we_company_area p_100">
    <div class="container">
        <div class="row company_inner">
            <div class="col-lg-8 offset-lg-2">
                <div class="left_company_text"6
                    <div class="l_title">
                        <img src="/img/icon/title-icon.png" alt="">
                        <h6>Services preferences in 200 clients</h6>
                        <h2>Services Statistics.</h2>
                    </div>
                    <div class="our_skill_inner">
                        <div class="single_skill">
                            <h3>Extensions Services - Classic</h3>
                            <div class="progress" data-value="60">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">60</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Extensions Services - Hybrid</h3>
                            <div class="progress" data-value="50">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">50</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Eyebrows Services - Deluxe</h3>
                            <div class="progress" data-value="35">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">35</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Eyebrows Services - Hybrid</h3>
                            <div class="progress" data-value="31">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">31</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Eyebrows Services - Lamination Deluxe</h3>
                            <div class="progress" data-value="24">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">24</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>
<!--================End We Are Company Area =================-->