<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <!--================Header Menu Area =================-->
    <%- include('./partials/header-ES') %>
    <!--================End Header Menu Area =================-->

    <!--================Banner Area =================-->
    <section class="banner_area">
      <div class="container">
        <div class="banner_inner_text">
          <h2>Sobre Mi</h2>
          <p class="mt-4">Un poco de mi</p>
        </div>
      </div>
    </section>
    <!--================End Banner Area =================-->

    <!--================Challange Area =================-->
    <section class="challange_area p_100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="challange_text_inner">
              <div class="l_title">
                <img src="/img/icon/title-icon.png" alt="" />
                <h6>Especialista en pestañas y cejas</h6>
                <h2>Soy Johansys Sánchez</h2>
              </div>
              <p class="mt-4">
                Soy una apasionada especialista en pestañas y cejas.
                con amplia experiencia en el campo de la belleza y personal
                cuidado. Con un enfoque en realzar la belleza natural de cada
                individual, mi objetivo es ayudar a mis clientes a mejorar sus ojos y
                lograr una apariencia radiante. Certificado por el estado de Florida
                esteticista
              </p>
              <p class="mt-4">
                A lo largo de mi carrera, he perfeccionado mis habilidades y conocimientos en
                técnicas avanzadas de extensión de pestañas, estilo de cejas y afines
                tratamientos de belleza. Mi enfoque se basa en la atención personalizada.
                atención y comprensión de las necesidades y deseos únicos de cada
                cliente.
              </p>
              <p class="mt-4">
                Trabajo con dedicación y precisión para ofrecer resultados impecables.
                y cumplir con las expectativas de mis clientes. Me esfuerzo por estar en la cima
                de las últimas tendencias y técnicas innovadoras en el mundo de
                belleza, lo que me permite brindar servicios de alta calidad y
                garantizar una experiencia excepcional. Fundador del estudio de belleza Sami
                en 2020.
              </p>
              <p class="mt-4">
                Además de mi experiencia profesional, creo en
                establecer una relación de confianza y comodidad con mi
                clientela. Me encanta escuchar sus inquietudes y brindarles
                recomendaciones personalizadas para lograr los resultados deseados. Mi
                el objetivo es que cada persona que visite mi estudio se sienta mimada,
                relajados y seguros de que están en las mejores manos.
              </p>
              <p class="mt-4">
                Si buscas realzar la belleza de tus pestañas y
                cejas, estás en el lugar correcto. No dude en ponerse en contacto conmigo para
                programar una cita o si tiene alguna pregunta. Tengo
                creado un espacio único para ti, donde podrás resaltar tus
                belleza aún más y sentirse cómodo al visitarnos y
                viviendo la experiencia de belleza Sami. Te va a encantar.
              </p>

              <div class="c_video">
                <a class="popup-youtube" href="/"
                  ><img src="/img/icon/title-icon.png" alt="" />Pictures of Me
                </a>
              </div>
            </div>
          </div>

          <!-- Slider -->
          <div class="col-lg-6 challange_img">
            <div class="challange_img_inner">
              <img
                class="img-fluid"
                src="/img/team/people/people-2.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Challange Area =================-->

    <!--================Testimonials Slider Area =================-->
    <section class="testimonials_area">
      <div class="container">
        <div class="testimonials_slider owl-carousel">
          <% for( let index = 0; index < gallery.length; index++ ) { %>
          <div class="item">
            <div class="testi_item testi_item_about">
              <img
                src="/img/team/people/<%= gallery[index] %>"
                alt=""
                width="100%"
              />
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <!--================End Testimonials Slider Area =================-->

    <!--================We Are Company Area =================-->
    <section class="we_company_area p_100">
      <div class="container">
        <div class="row company_inner">
          <div class="col-lg-8 offset-lg-2">
            <div class="left_company_text">
              <div class="l_title">
                <img src="/img/icon/title-icon.png" alt="" />
                <h6>Discover the features</h6>
                <h2>Service Statistics.</h2>
              </div>
              <div class="our_skill_inner">
                <div class="single_skill">
                  <h3>Statistics</h3>
                  <div class="progress" data-value="70">
                    <div class="progress-bar">
                      <div class="progress_parcent">
                        <span class="counter">70</span>%
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single_skill">
                  <h3>Statistics</h3>
                  <div class="progress" data-value="90">
                    <div class="progress-bar">
                      <div class="progress_parcent">
                        <span class="counter">90</span>%
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single_skill">
                  <h3>Statistics</h3>
                  <div class="progress" data-value="85">
                    <div class="progress-bar">
                      <div class="progress_parcent">
                        <span class="counter">85</span>%
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single_skill">
                  <h3>Statistics</h3>
                  <div class="progress" data-value="90">
                    <div class="progress-bar">
                      <div class="progress_parcent">
                        <span class="counter">90</span>%
                      </div>
                    </div>
                  </div>
                </div>
                <div class="single_skill">
                  <h3>Statistics</h3>
                  <div class="progress" data-value="75">
                    <div class="progress-bar">
                      <div class="progress_parcent">
                        <span class="counter">75</span>%
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End We Are Company Area =================-->

    <!--================Footer Area =================-->
    <%- include('./partials/footer-ES') %>
    <!--================End Footer Area =================-->
  </body>
</html>
