<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/header-ES') %>
        <!--================End Header Menu Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Contacto</h2>
                    <p>Ponte en contacto</p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Get in Touch Area =================-->
        <section class="get_in_touch_area p_100">
            <div class="container">
                <div class="row get_touch_inner">
                    <div class="col-lg-6">
                        <form class="contact_us_form row" action="/mail/contact" method="post" id="contactForm" novalidate="novalidate">
                            <div class="form-group col-lg-6">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Nombre Completo" required>
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Correo" required >
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Teléfono : Iniciando con +1" required >
                            </div>
                            <div class="form-group col-lg-12">
                                <textarea class="form-control" name="message" id="message" rows="1" placeholder="Mensaje"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" value="submit" class="btn submit_btn form-control">Enviar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <div class="touch_details">
                            <div class="l_title">
                                <img src="img/icon/title-icon.png" alt="">
                                <h6>aludanos</h6>
                                <h2>Ponte en contacto por Mail o por Teléfono.</h2>
                            </div>
                            <a href="tel:+17867959170"><h5>Llamanos</h5></a>
                            <a href="tel:+17867959170"><h4>+1 (786) 795-9170</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Get in Touch Area =================-->
        
        <!--================Map Area =================-->
        <%- include('./partials/contactMap-ES') %>

        <!--================End Map Area =================-->
        
        <%- include('./partials/footer-ES') %>
    </body>
</html>